In [1]:
import math
import os
import ast

import sqlparse
import numpy as np
import pandas as pd
from sqlalchemy import MetaData, Table, literal_column, Column
from sqlalchemy.sql import select, func, or_
from sqlalchemy.dialects.mysql import insert
from sqlalchemy.dialects.mysql.types import VARCHAR, TINYINT, TEXT

from f3_data_builder import mysql_connection, region_queries, pull_main_data, build_users, build_aos, build_beatdowns, build_attendance

In [2]:
engine = mysql_connection()

In [3]:
metadata = MetaData()
metadata.reflect(engine, schema="weaselbot")

Table("regions", 
      metadata, 
      Column("region", VARCHAR(length=45), nullable=False, primary_key=True), 
      Column("slack_token", VARCHAR(length=90), nullable=False),
      Column("schema_name", VARCHAR(length=45), nullable=True, default=None),
      Column("active", TINYINT(), default=1),
      Column("firstf_channel", VARCHAR(length=45), nullable=True, default=None),
      Column("contact", VARCHAR(length=45), nullable=True, default=None),
      Column("send_pax_charts", TINYINT(), default=0),
      Column("send_ao_leaderboard", TINYINT(), default=0),
      Column("send_q_charts", TINYINT(), default=0),
      Column("send_region_leaderboard", TINYINT(), default=0),
      Column("send_region_uniquepax_chart", TINYINT(), default=0),
      Column("send_region_stats", VARCHAR(length=45), default=0),
      Column("send_mid_month_charts", VARCHAR(length=45), default=0),
      Column("comments", TEXT()),
      schema="paxminer");

In [5]:
for table in metadata.sorted_tables:
    print(table.__repr__())

Table('regions', MetaData(), Column('region', VARCHAR(length=45), table=<regions>, primary_key=True, nullable=False), Column('slack_token', VARCHAR(length=90), table=<regions>, nullable=False), Column('schema_name', VARCHAR(length=45), table=<regions>), Column('active', TINYINT(), table=<regions>, default=ScalarElementColumnDefault(1)), Column('firstf_channel', VARCHAR(length=45), table=<regions>), Column('contact', VARCHAR(length=45), table=<regions>), Column('send_pax_charts', TINYINT(), table=<regions>, default=ScalarElementColumnDefault(0)), Column('send_ao_leaderboard', TINYINT(), table=<regions>, default=ScalarElementColumnDefault(0)), Column('send_q_charts', TINYINT(), table=<regions>, default=ScalarElementColumnDefault(0)), Column('send_region_leaderboard', TINYINT(), table=<regions>, default=ScalarElementColumnDefault(0)), Column('send_region_uniquepax_chart', TINYINT(), table=<regions>, default=ScalarElementColumnDefault(0)), Column('send_region_stats', VARCHAR(length=45), table=<regions>, default=ScalarElementColumnDefault(0)), Column('send_mid_month_charts', VARCHAR(length=45), table=<regions>, default=ScalarElementColumnDefault(0)), Column('comments', TEXT(), table=<regions>), schema='paxminer')
Table('combined_regions', MetaData(), Column('region_id', INTEGER(), table=<combined_regions>, primary_key=True, nullable=False), Column('region_name', VARCHAR(length=45), table=<combined_regions>, nullable=False), Column('schema_name', VARCHAR(length=45), table=<combined_regions>, nullable=False), Column('slack_team_id', VARCHAR(length=20), table=<combined_regions>), Column('max_timestamp', DOUBLE(asdecimal=True), table=<combined_regions>), Column('max_ts_edited', DOUBLE(asdecimal=True), table=<combined_regions>), schema='weaselbot')
Table('regions', MetaData(), Column('id', INTEGER(), table=<regions>, primary_key=True, nullable=False), Column('paxminer_schema', VARCHAR(length=100), table=<regions>, nullable=False), Column('slack_token', VARCHAR(length=100), table=<regions>, nullable=False), Column('send_achievements', TINYINT(), table=<regions>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x10fdf2c30>, for_update=False)), Column('send_aoq_reports', TINYINT(), table=<regions>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x10fdf2cf0>, for_update=False)), Column('achievement_channel', VARCHAR(length=100), table=<regions>, nullable=False), Column('default_siteq', VARCHAR(length=45), table=<regions>), schema='weaselbot')
Table('test_json', MetaData(), Column('pax', VARCHAR(length=100), table=<test_json>), Column('date', DATE(), table=<test_json>), Column('extras', JSON(), table=<test_json>), schema='weaselbot')
Table('combined_aos', MetaData(), Column('ao_id', INTEGER(), table=<combined_aos>, primary_key=True, nullable=False), Column('slack_channel_id', VARCHAR(length=45), table=<combined_aos>, nullable=False), Column('ao_name', VARCHAR(length=45), table=<combined_aos>, nullable=False), Column('region_id', INTEGER(), ForeignKey('weaselbot.combined_regions.region_id'), table=<combined_aos>, nullable=False), schema='weaselbot')
Table('combined_users', MetaData(), Column('user_id', INTEGER(), table=<combined_users>, primary_key=True, nullable=False), Column('user_name', VARCHAR(length=45), table=<combined_users>, nullable=False), Column('email', VARCHAR(length=45), table=<combined_users>, nullable=False), Column('home_region_id', INTEGER(), ForeignKey('weaselbot.combined_regions.region_id'), table=<combined_users>, nullable=False), schema='weaselbot')
Table('combined_beatdowns', MetaData(), Column('beatdown_id', INTEGER(), table=<combined_beatdowns>, primary_key=True, nullable=False), Column('ao_id', INTEGER(), ForeignKey('weaselbot.combined_aos.ao_id'), table=<combined_beatdowns>, nullable=False), Column('bd_date', DATE(), table=<combined_beatdowns>, nullable=False), Column('q_user_id', INTEGER(), ForeignKey('weaselbot.combined_users.user_id'), table=<combined_beatdowns>), Column('coq_user_id', INTEGER(), ForeignKey('weaselbot.combined_users.user_id'), table=<combined_beatdowns>), Column('pax_count', INTEGER(), table=<combined_beatdowns>), Column('fng_count', INTEGER(), table=<combined_beatdowns>), Column('timestamp', DOUBLE(asdecimal=True), table=<combined_beatdowns>), Column('ts_edited', DOUBLE(asdecimal=True), table=<combined_beatdowns>), Column('backblast', LONGTEXT(), table=<combined_beatdowns>), Column('json', JSON(), table=<combined_beatdowns>), schema='weaselbot')
Table('combined_users_dup', MetaData(), Column('user_id_dup', INTEGER(), table=<combined_users_dup>, primary_key=True, nullable=False), Column('slack_user_id', VARCHAR(length=45), table=<combined_users_dup>), Column('user_name', VARCHAR(length=45), table=<combined_users_dup>, nullable=False), Column('email', VARCHAR(length=45), table=<combined_users_dup>, nullable=False), Column('region_id', INTEGER(), ForeignKey('weaselbot.combined_regions.region_id'), table=<combined_users_dup>, nullable=False), Column('user_id', INTEGER(), ForeignKey('weaselbot.combined_users.user_id'), table=<combined_users_dup>, nullable=False), schema='weaselbot')
Table('combined_attendance', MetaData(), Column('attendance_id', INTEGER(), table=<combined_attendance>, primary_key=True, nullable=False), Column('beatdown_id', INTEGER(), ForeignKey('weaselbot.combined_beatdowns.beatdown_id'), table=<combined_attendance>, nullable=False), Column('user_id', INTEGER(), ForeignKey('weaselbot.combined_users.user_id'), table=<combined_attendance>, nullable=False), Column('json', JSON(), table=<combined_attendance>), schema='weaselbot')

In [5]:
cr = metadata.tables["weaselbot.combined_regions"]
cu = metadata.tables["weaselbot.combined_users"]
cud = metadata.tables["weaselbot.combined_users_dup"]
ca = metadata.tables["weaselbot.combined_aos"]
cb = metadata.tables["weaselbot.combined_beatdowns"]
catt = metadata.tables["weaselbot.combined_attendance"]

In [6]:
def insert_statement(table, insert_values, update_cols):
    sql = insert(table).values(insert_values)
    on_dup = sql.on_duplicate_key_update(
        {v.name: v for v in sql.inserted if v.name in update_cols}
    )
    return on_dup

In [7]:
def region_subquery(metadata):
    cb = metadata.tables["weaselbot.combined_beatdowns"]
    a = metadata.tables["weaselbot.combined_aos"]

    sql = select(
        a.c.region_id,
        func.max(cb.c.timestamp).label("max_timestamp"),
        func.max(cb.c.ts_edited).label("max_ts_edited"),
        func.count().label("beatdown_count"),
    )
    sql = sql.select_from(cb.join(a, cb.c.ao_id == a.c.ao_id))
    sql = sql.group_by(a.c.region_id).subquery("b")
    return sql

In [8]:
def paxminer_region_query(metadata):
    r = metadata.tables["paxminer.regions"]
    cr = metadata.tables["weaselbot.combined_regions"]
    sub = region_subquery(metadata)

    sql = select(
        r.c.schema_name,
        r.c.region.label("region_name"),
        sub.c.max_timestamp,
        sub.c.max_ts_edited,
        sub.c.beatdown_count,
        cr.c.region_id,
    )
    sql = sql.select_from(
        r.outerjoin(cr, r.c.schema_name == cr.c.schema_name).outerjoin(sub, cr.c.region_id == sub.c.region_id)
    )

    return sql

In [9]:
def weaselbot_region_query(metadata):
    cr = metadata.tables["weaselbot.combined_regions"]
    sub = region_subquery(metadata)

    sql = select(cr, sub.c.beatdown_count)
    sql = sql.select_from(cr.outerjoin(sub, cr.c.region_id == sub.c.region_id))

    return sql

In [10]:
paxminer_region_sql = paxminer_region_query(metadata) # verified
weaselbot_region_sql = weaselbot_region_query(metadata) # verified

In [11]:
### Sample data to move forward with ###

region_data = dict(schema_name="f3alamo f3chicago f3naperville f3omaha f3stcharles".split(),
                   region_name="Alamo Chicago Naperville Omaha St_Charles".split(),
                   max_timestamp=[1704824582.100129, 1704808955.413849, None, 1697642801.087519, 1704825215.550419],
                   max_ts_edited=[1704824731, 1704724809, None, None, 1704825356]
                  )
df_regions = pd.DataFrame(region_data)

In [12]:
insert_values = df_regions.to_dict("records")
update_cols = ("region_name", "max_timestamp", "max_ts_edited")
region_insert_sql = insert_statement(cr, insert_values, update_cols)

In [ ]:
# print(sqlparse.format(region_insert_sql.compile(engine, compile_kwargs={"literal_binds": True}).__str__(), keyword_case="upper", reindent=True))

In [13]:
dtypes = dict(
    region_id=pd.StringDtype(),  # this is a string everywhere else
    region_name=pd.StringDtype(),
    schema_name=pd.StringDtype(),
    slack_team_id=pd.StringDtype(),
    max_timestamp=pd.Float64Dtype(),
    max_ts_edited=pd.Float64Dtype(),
    beatdown_count=pd.Int16Dtype()
)

with engine.begin() as cnxn:
    df_regions = pd.read_sql(weaselbot_region_sql, cnxn, dtype=dtypes)

In [14]:
df_users_dup, df_aos, df_beatdowns, df_attendance = pull_main_data(df_regions, engine, metadata)

starting f3alamo... Done
starting f3albany... Done
starting f3albuquerque... Done
starting f3alliance... Done
starting f3anderson... Done
starting f3annapolis... Done
starting f3atlanta... Done
starting f3austin... Done
starting f3badlands... Done
starting f3beast... Done
starting f3bellingham... Done
starting f3blueridge... Done
starting f3borderlands... Done
starting f3brentwood... Done
starting f3bruco... Done
starting f3youngsville... Done
starting f3carpex... Done
starting f3centralarkansas... Done
starting f3central_il... Done
starting f3charleston... Done
starting f3charlottesville... Done
starting f3cherokee... Done
starting f3cheyenne... Done
starting f3chicago... Done
starting f3churham... Done
starting f3clearwater... Done
starting f3cleburne... Done
starting f3cleveland... Done
starting f3coloradosprings... Done
starting f3columbia... Done
starting f3columbus... Done
starting f3dallas... Done
starting f3davidson... Done
starting f3dayton... Done
starting f3delhi_ncr... Done
starting f3delmar... Done
starting f3denver... Done
starting f3desmoines... Done
starting f3devcommunity... Done
starting f3durango... Done
starting f3enc... Done
starting f3evansville... Done
starting f3expedition... Done
starting f3fargo... Done
starting fia_naperville...
(mysql.connector.errors.ProgrammingError) 1142 (42000): SHOW command denied to user 'f3chicago'@'136.30.89.84' for table 'users'
[SQL: SHOW CREATE TABLE `fia_naperville`.`users`]
(Background on this error at: https://sqlalche.me/e/20/f405)
Done
starting fia_omaha...
(mysql.connector.errors.ProgrammingError) 1142 (42000): SHOW command denied to user 'f3chicago'@'136.30.89.84' for table 'users'
[SQL: SHOW CREATE TABLE `fia_omaha`.`users`]
(Background on this error at: https://sqlalche.me/e/20/f405)
Done
starting fia_sanford...
(mysql.connector.errors.ProgrammingError) 1142 (42000): SHOW command denied to user 'f3chicago'@'136.30.89.84' for table 'users'
[SQL: SHOW CREATE TABLE `fia_sanford`.`users`]
(Background on this error at: https://sqlalche.me/e/20/f405)
Done
starting f3florence... Done
starting f3flomo... Done
starting f3foothills... Done
starting f3forsyth... Done
starting f3fortcollins... Done
starting f3fortworth... Done
starting f3franklin... Done
starting f3geneva... Done
starting f3glacier... Done
starting f3gwinnett... Done
starting f3hillcountry... Done
starting f3houston... Done
starting f3hr... Done
starting f3huntsville... Done
starting f3indianapolis... Done
starting f3indianvalley... Done
starting f3jackson... Done
starting f3jacksontn... Done
starting f3jax... Done
starting f3jeffco... Done
starting f3katy... Done
starting f3kc... Done
starting f3kcmo... Done
starting f3kingsden... Done
starting f3kinston... Done
starting f3knoxville... Done
starting f3lakewylie... Done
starting f3lexington... Done
starting f3louisville... Done
starting f3lubbock... Done
starting f3macon... Done
starting f3marshall... Done
starting f3meca... Done
starting f3memphis... Done
starting f3minthill... Done
starting f3monterey... Done
starting f3morris... Done
starting f3muletown... Done
starting f3murfreesboro... Done
starting f3naperville... Done
starting f3nashville... Done
starting f3newbern... Done
starting f3ne_wake... Done
starting f3noga... Done
starting f3noho... Done
starting f3nola... Done
starting f3nolensville... Done
starting f3northlake... Done
starting f3nwarkansas... Done
starting f3nwhighway... Done
starting f3northsandiego... Done
starting f3ocoee... Done
starting f3omaha... Done
starting f3orlando... Done
starting f3parkercounty... Done
starting f3pensacola... Done
starting f3phoenix... Done
starting f3pittsburgh... Done
starting f3crossroads... Done
starting f3portland... Done
starting f3princeton... Done
starting f3pugetsound... Done
starting f3racecity... Done
starting f3raleigh... Done
starting f3rapidcity... Done
starting f3roanoke... Done
starting f3rockhill... Done
starting f3roco... Done
starting f3slc... Done
starting f3sandhills... Done
starting f3sclt... Done
starting f3shoals... Done
starting f3smokies... Done
starting f3soco... Done
starting f3soil... Done
starting f3southcary... Done
starting f3southsound... Done
starting f3sowmo... Done
starting f3spiritofstl... Done
starting f3springhill... Done
starting f3stl... Done
starting f3stlcity... Done
starting f3stlmeramec... Done
starting f3stcharles... Done
starting f3stpete... Done
starting f3stsimons... Done
starting f3suncoast... Done
starting f3ttown...
could not convert string to float: '': Error while type casting for column 'timestamp'
Done
starting f3tallahassee... Done
starting f3tampa... Done
starting f3techtown... Done
starting f3thailand... Done
starting f3thecapital... Done
starting f3thechuck... Done
starting f3thefort... Done
starting f3thejunction... Done
starting f3thespark... Done
starting f3theunion... Done
starting f3tornadoalley... Done
starting f3tuscon... Done
starting f3twincities... Done
starting f3waco... Done
starting f3washmo... Done
starting f3waxahachie... Done
starting f3waxhaw... Done
starting f3westcobb... Done
starting f3westhouston... Done
starting f3westindy... Done
starting f3westshore... Done
starting f3wheaton... Done
starting f3wichita... Done
starting f3wilson... Done
starting f3dc...
(mysql.connector.errors.ProgrammingError) 1049 (42000): Unknown database 'f3dc'
[SQL: SHOW CREATE TABLE `f3dc`.`users`]
(Background on this error at: https://sqlalche.me/e/20/f405)
Done
starting f3mobile... Done
starting f3snacktown... Done
starting f3se_michigan... Done
starting f3nyon... Done
starting f3lowcountry... Done
starting fia_temecula...
(mysql.connector.errors.ProgrammingError) 1142 (42000): SHOW command denied to user 'f3chicago'@'136.30.89.84' for table 'users'
[SQL: SHOW CREATE TABLE `fia_temecula`.`users`]
(Background on this error at: https://sqlalche.me/e/20/f405)
Done
starting f3temecula... Done
starting f3thomasville... Done

In [15]:
print(f"beatdowns to process: {len(df_beatdowns)}")

beatdowns to process: 75967

In [16]:
df_users_dup = build_users(df_users_dup, df_attendance, engine, metadata)

building users...

In [17]:
df_aos = build_aos(df_aos, engine, metadata)

building aos...

In [20]:
df_beatdowns = build_beatdowns(df_beatdowns, df_users_dup, df_aos, engine, metadata)

building beatdowns...

In [26]:
build_attendance(df_attendance, df_users_dup, df_aos, df_beatdowns, engine, metadata)

building attendance...

In [27]:
engine.dispose()